@import '../../style/variables.scss';

.app{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $main-color;
}

.container{
    max-width: 2300px;
    padding: 0 15px;
    margin: 0 auto;
}