@import '../../style/variables.scss';

.app{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $main-color;
}

.container{
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.section{
    padding-top: 60px;
    text-align: center;
    &__title{
        font-size: 40px;
        font-weight: 700;
        color: $light-color;
        margin-bottom: 60px;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
}

.btn{
    border: 0;
    height: 40px;
    padding: 0 30px;
    border-radius: $borderRadius;
    background-color: $btn-color;
    text-transform: uppercase;
    color: $light-color;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    transition: .2s linear;
    &:focus{
        outline: 0;
        box-shadow: 0px 0px 15px $btn-color;
        outline-offset: 3px;
    }
    &:active{
        opacity: .8;
    }
}