@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.skeleton{
    position: relative;
    padding-left: 320px;
    min-height: 400px;
    @include maxWidth(750px);

    &__poster,
    &__name,
    &__name-original,
    &__countries,
    &__genres,
    &__length,
    &__rate,
    &__description li{
        background-color: $items-bg-color;
        border-radius: $borderRadius;
        animation: skeletonAnim .7s linear alternate infinite;
    }

    &__poster{
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
    }

    &__name{
        width: 70%;
        height: 24px;
    }

    &__name-original,
    &__countries{
        width: 40%;
        height: 14px;
        margin-top: 8px;
    }

    &__countries{
        width: 60%;
    }

    &__genres{
        width: 55%;
        height: 16px;
        margin-top: 15px;
    }

    &__length{
        width: 80px;
        height: 16px;
        margin-top: 15px;
    }

    &__rate{
        width: 50px;
        height: 24px;
        margin-top: 15px;
    }

    &__description{
        margin-top: 20px;
        width: 100%;
        li{
            width: 80%;
            height: 14px;
            margin-top: 5px;
            &:first-child{
                margin-top: 0;
            }
        }

    }

    @keyframes skeletonAnim {
        0%{
            background-color: $items-bg-color;
        }
        100%{
            background-color: #E5E5E5;
        }
    }
}