@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.movie-generator{
    @include maxWidth(350px);
    &__info{
        position: relative;
        width: 100%;
        height: 250px;
        border: 5px solid $items-bg-color;
        border-radius: $borderRadius;

        flex-direction: column;
        @include flexDef(center);
    }
    &__number{
        font-size: 64px;
        font-weight: 700;
        color: $special-color;

        padding: 0px 10px;
        box-shadow: 5px 5px 5px 5px $header-color,
                     -5px -5px 5px 5px $btn-color;
        border-radius: 10px;
    }

    &__name{
        font-weight: 700;
        color: $light-color;

        position: absolute;
        top: 20px;
        left: 50%;

        transform: translateX(-50%);
        width: 90%;
    }

    &__inputs{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        input{
            border-radius: $borderRadius;
            height: 30px;
            @include maxWidth(165px);
            padding: 0 10px;
        }
    }

    .btn{
        margin-top: 15px;
    }
}

.input{
    border: 0;
    background-color: $light-color;
    font-weight: 700;
    color: $main-color;
    &:focus{
        box-shadow: 0px 0px 10px 2px $btn-color;
        outline: 0;
    }
    &:disabled{
        color: $items-bg-color;
        background-color: rgb(255, 255, 254, .9);
    }
}

.check{
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: $items-bg-color;
    font-weight: 400;
    &__input{
        appearance: none;
        
        // checked
        &:checked + .check__box{
            border-color: $btn-color;
        }
        &:checked + .check__box::before{
            left: 32px;
            background-color: $btn-color;
        }

        // focus
        &:focus + .check__box{
            box-shadow: 0px 0px 10px 2px $light-color;    
        }
        &:checked:focus + .check__box{
            box-shadow: 0px 0px 10px 2px $btn-color;    
        } 

    }
    &__box{
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
        border: 3px solid $items-bg-color;
        border-radius: 20px;
        transition: .2s linear;
        margin-right: 5px;
        cursor: pointer;
        &::before{
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background-color: $items-bg-color;
            border-radius: 50%;

            position: absolute;
            top: 50%;
            left: 2px;
            transform: translateY(-50%);
            transition: .2s linear;
        }
    }
}

