@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.movie-generator{
    &__info{
        position: relative;
        width: 350px;
        height: 250px;
        border: 5px solid $items-bg-color;
        border-radius: $borderRadius;

        flex-direction: column;
        @include flexDef(center);
    }
    &__number{
        font-size: 64px;
        font-weight: 700;
        color: $special-color;
    }

    &__name{
        font-weight: 700;
        color: $light-color;

        position: absolute;
        top: 20px;
        left: 50%;

        transform: translateX(-50%);
        min-width: 90%;
    }

}