@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.header{
    width: 100%;
    &__wrapper{
        @include maxWidth(1260px);
        @include flexDef(space-between);
        margin: 0 auto;
        padding: 0 30px;
        min-height: 80px;

        border-radius: 0px 0px 20px 20px;
        box-shadow: 0px 10px 50px -10px black; 
        background-color: $header-color;
    }

    &__logo{
        max-width: 205px;
        img{
            width: 100%;
        }
    }

    &__list{
        display: flex;
        li{
            font-size: 20px;
            font-weight: 400;
            line-height: 1;
            margin-right: 20px;
            overflow: hidden;

            &:last-child{
                margin-right: 0;
            }

            &.page-selected a{
                outline: 0;
                color: $light-color;
            }

            &.page-selected a::before{
                left: 0;
                opacity: 1;
            }

            a{ 
                position: relative;
                display: inline-block;
                padding: 5px 0;
                line-height: 1;
                transition: .2s linear; 
                color: $main-color;

                &::before{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: $light-color;
        
                    position: absolute;
                    bottom: 0;
                    left: -100%;
                    opacity: 0;
    
                    transition: .2s ease-in;
                }

                &:focus,
                &:hover{
                    outline: 0;
                    color: $light-color;
                }

                &:hover::before,
                &:focus::before{
                    left: 0;
                    opacity: 1;
                }
            }
        }
    }
}