@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
  padding: 0;
}

ol,li{
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul{
  font-size: 0;
}

a{
  text-decoration: none;
  color: $header-link;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
